@import "tailwindcss";

:root {
  --bg-dark: #0a0d18;
  --bg-light: #ccd4e5;
  --bg-light-accent: #b8c5e6;
  --text-dark: #ffffff;
  --text-light: #0a0d18;
  --border-dark: rgba(255, 255, 255, 0.25);
  --border-light: rgba(0, 0, 0, 0.25);
}
